@model SilverstoneWeatherApp.Models.Location
    
@{
    ViewBag.Title = "WeatherInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-md-5">
    <div class="container-fluid my-3">
        <h1>Weather Information on: @Model.Name, @Model.Weather.Sys.Country</h1>
    </div>
    <div class="container-fluid my-3">
        <h3 class="mb-1 mt-3">Temperature</h3>
        <p>Current:  @Model.Weather.Main.Temp &#8451;</p>
        <p>Min:  @Model.Weather.Main.Temp_min &#8451;</p>
        <p>Max:  @Model.Weather.Main.Temp_max &#8451;</p>

        <h3 class="mb-1 mt-3">Humidity</h3>
        <p>Current:  @Model.Weather.Main.Humidity %</p>

        <h3 class="mb-1 mt-3">
            Daylight
            <small class="text-body-secondary">(Timestamps are shown in @Model.Name's localtime)</small>
        </h3>
        <p>Sunrise:  @Model.Weather.Sys.Sunrise</p>
        <p>Sunset:  @Model.Weather.Sys.Sunset</p>
    </div>
    <div class="container-fluid my-3">
        @using (Html.BeginForm("Index", "WeatherAPI", FormMethod.Post))
        {
            <input type="submit" value="Change Location" class="btn btn-primary my-2"> <br> <br>
        }
        <p class="lead">Was this not the city you where looking for? Try the writing the location as city, country code</p>
    </div>
</div>

